[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
Flask = "==2.2.5"
python3-saml = "*"
isodate = "*"
defusedxml = "*"
xmlsec = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
